*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
.gradle
.idea
build
gradle
gradlew
gradlew.bat
gradle.properties
local.properties
runforestrun.iml
begiles.iml
settings.gradle